div.home .albumShowTop {
  position: absolute;
  width: inherit;
  height: 340px;
  z-index: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

div.home .albumImage>img {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 1);
}

div.home .albumImage>img:hover {
  transform: scale(1.03);
}

div.home .albumImage {
  margin: 0 0 30px 30px;
}

div.home .albumHeaders {
  margin: 0 0 30px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.albumHeaders h4,
h5,
h1,
.albumHeaders a {
  text-decoration: none;
  color: #FFFFFF;
  /* box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 1); */
  background: transparent;
}

.albumHeaders h1 {
  font-family: 'circularbold', sans-serif;
  font-size: 80px;
  letter-spacing: -4px;
  white-space: nowrap;
}

.albumHeaders h4,
.albumHeaders a {
  font-family: 'circularbook', sans-serif;
  font-size: 14px;
}

.albumHeaders h5 {
  font-family: 'circularbook', sans-serif;
  font-size: 14px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.albumHeaders a:hover {
  text-decoration: underline;
}

.albumHeaders h5>img {
  width: 24px;
  height: auto;
  border-radius: 500px;
  margin-top: -2px;
  margin-right: 2px;
}

.albumHeaders .albumLength {
  font-family: 'circulartitle', sans-serif;
  color: #FFFFFF;
}

div.home .opaqueBkgd-2 {
  background-image: linear-gradient(to bottom, rgb(247, 193, 121), rgba(18, 18, 18, 1));
}

.trackList {
  position: relative;
  width: calc(100% - 44px);
  padding: 22px;
  margin: auto;
  background-color: rgba(18, 18, 18, .85);
  margin-top: 340px;
  color: #B3B3B3;
  font-family: 'circularbook', sans-serif;
  font-size: 14px;
}

.trackList span.bigButtons {
  vertical-align: middle;
}

.trackList button.bigPlay {
  width: 56px;
  height: 56px;
  font-size: 24px;
  vertical-align: middle;
}

.trackList button.bigPlay>i {
  padding-left: 2px;
}

.trackList .bigHeart {
  padding-left: 24px;
  font-size: 32px;
  width: 56px;
  height: 56px;
  vertical-align: middle;
}

.trackList .bigHeart>i:hover {
  color: #FFFFFF;
}

.trackList .bigDots {
  padding-left: 24px;
  font-size: 24px;
  vertical-align: middle;
}

.trackList .bigDots>i:hover {
  color: #FFFFFF;
}

.trackList hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #B3B3B3;
  opacity: .2;
}

.trackList>table {
  width: 100%;
  padding: 16px;
}

.trackList>table>tr {
  width: 100%;
  display: grid;
  grid-template-columns: .5fr 16fr .5fr 1fr .35fr;
  align-items: center;
  gap: 16px;
  height: 56px;
  border-radius: 4px;
}

.trackList>table>tr:hover {
  background-color: #282828;
}

.trackList>table>tr:first-child {
  background-color: transparent;
  height: 36px;

}

.trackList>table>tr>td:first-child {
  font-size: 16px;
  text-align: right;
}

.trackList>table>tr>td:nth-child(4) {
  text-align: right;
}

.trackList>table>tr>td:last-child {
  position: relative;
  right: 8%;
  text-align: left;
  padding-right: 16px;
}

.trackList>table ul>li:first-child {
  font-family: 'circularbook', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.trackList>table ul a {
  font-family: 'circularbook', sans-serif;
  font-size: 14px;
  color: #B3B3B3;
  text-decoration: none;
}

.trackList>table ul a:hover {
  text-decoration: underline;
}

.trackList>table ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.home .moreBy ul:hover {
  background-color: #282828;
}

.moreBy h2 {
  font-family: 'circularbook', sans-serif;
  font-size: 24px;
  text-align: left;
  color: #FFFFFF;
  padding-left: 16px;
}

.moreBy {
  margin-top: 16px;
  margin-left: -22px;
  margin-right: -22px;
}

.hiddenUl{
  position:absolute;
  background-color: rgb(23, 23, 23);
  z-index: 5;
  padding: 2px;
  border-radius: 5px;
}
.hiddenUl li {
  padding-left: 10px;
  padding-right: 10px;

}
#add-button {
  cursor: pointer;
}
#add-button:hover {
  color:#FFFFFF;
}

.fa-solid.fa-heart.green {
  color: green;
}