div.home:first-child {
  /* padding-top: 66px; */
}

div.home .artistGridHeader>a {
  font-family: 'circularbold', sans-serif;
  font-size: 32px;

}

div.home .artistGrid li {
  font-family: 'circularbook', sans-serif;

}

#artistGridImage img {
  border-radius: 50%;
}