/* TODO Add site wide styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: rgb(0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #000000;
  /* overflow: hidden; */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'circularbold';
  src: url('./assests/fonts/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'circularbook';
  src: url('./assests/fonts/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'circulartitle';
  src: url('./assests/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2') format('woff2');
}

* {

  font-family: 'circularbook', sans-serif;

  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.home_page_left {
  flex: 0 0;
  flex-basis: 280px;
  position: sticky;
  height: inherit;
  display: flex;
  width: auto;
  max-width: calc(100% - 448px);
  flex-direction: column;
  padding: 8px 0 0 8px;
}

.home_page_right {
  flex: 1 1 auto;
  height: inherit;
  position: sticky;
  /* max-width: calc(100% - 304px); */
  padding: 8px 8px 0 0;
}

.home_page_top {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: auto;
  top: 0;
  bottom: 88px;
  width: 100%;
}

div.home {
  position: relative;
  width: 100%;
  min-width: 424px;
  overflow-y: scroll;
  height: 100%;
  background-color: #121212;
  border-radius: 8px;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.home>h2 {
  font-family: 'circularbold';
  font-size: 24px;
  text-align: left;
  padding-left: 20px;
  color: #FFFFFF;
}

div.home h2 a {
  color: #FFFFFF;
  text-decoration: none;
}

div.home h2 a:hover {
  text-decoration: underline;
}

div.home .userGreeting {
  font-size: 32px;
}

.artistGrid {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.playlistGrid {
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.searchGrid {
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


div.home .artistGrid ul,
div.home .playlistGrid ul {
  margin: 8px;
  padding: 16px;
  max-width: 300px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  cursor: pointer;
}

div.home .searchGrid ul {
  margin: 8px;
  padding: 16px;
  max-width: 300px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  cursor: pointer;
}

div.home .albumGrid ul {
  margin: 8px;
  padding: 16px;
  max-width: 260px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  cursor: pointer;
  gap: 16px;
  padding-bottom: 28px;
}


div.home li.artistName,
div.home li.albumName,
div.home li.playlistTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.home .artistGrid li+li,
div.home .playlistGrid li+li,
div.home .searchGrid li+li {
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

div.home .artistGrid ul:hover,
div.home .playlistGrid ul:hover,
div.home .searchGrid ul:hover {
  background-color: #282828;
}

div.home .albumGrid ul:hover {
  background-color: #282828;
}

div.home .artistGrid ul img,
div.home .playlistGrid ul img,
div.home .searchGrid ul img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 1);
}

div.home .albumGrid ul img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 1);
}


div.home .welcomeMessage h2 {
  color: #FFFFFF;
  font-family: 'circularbold';
  font-size: 34px;
  padding: 32px;
}

div.home .welcomeMessage h2 i {
  font-family: 'circularbold';
}

div.home .welcomeMessage h3 {
  color: #FFFFFF;
  font-family: 'circularbold';
  font-size: 30px;
  padding: 32px;
}