#demouser {
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
}

.formDiv {
  box-sizing: border-box;
  display: block;
  margin-top: -1em;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px 0px;
  box-sizing: border-box;
}

#home {
  box-sizing: border-box;

  margin-bottom: 40px;
  text-align: center;
}

#logo {
  height: 30%;
  width: 30%;
}

#section {
  max-width: 450px;
  margin: 0px auto;
  padding-bottom: 130px;

}

#signup_form_page {
  background-color: #fff;
}

#sign_up_form_divider {
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(127, 127, 127);
  position: relative;
  text-align: center;
  width: 85%;
  font-family: 'circularbook', sans-serif;
}

#sign_up_form_divider::before,
#sign_up_form_divider::after {
  box-sizing: border-box;
  border-top: 1px solid rgb(204, 204, 204);
  content: "";
  display: table-cell;
  position: relative;
  top: 0.8em;
  width: 42%;
}


h1 {
  font-family: 'circulartitle', sans-serif;

  line-height: 36px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 0px;
  margin-block-start: 0px;
  overflow-wrap: break-word;
  align-self: center;
  letter-spacing: -0.04em;
}

h2 {
  text-align: center;
  font-size: 1.125rem;
  font-family: 'circularbold', sans-serif;
  margin-block: 0px;
  padding-block-start: 15px;
}

form {
  box-sizing: border-box;
  display: block;
  margin-top: 0em;
}

#email,
#password,
#username {
  font-weight: 700;

  border: 0;
}


label {
  font-size: .875rem;
}

.note,
#note {
  letter-spacing: -.025em;
  color: rgba(0, 0, 0, 0.856);
  margin-top: -10px;
}

#note {
  font-weight: 400;
}


#dob {
  padding-block-start: 5px;
  font-weight: 600;
  margin-top: 10px;
}

.form {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: 'circularbook', sans-serif;
  appearance: none;
  background-image: none;
  font-size: 1rem;
  font-weight: lighter;
  margin-block: 0px;
  inline-size: 100%;
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-color: rgba(128, 128, 128, 0.676);
  border-radius: 3px;
  border-width: 1px;
  margin-top: 8px;
  margin-bottom: 20px;
  outline: none;
  padding-inline: 14px;
  /* transition: 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s; */
}



input:hover {

  border-color: black;
}


#signupbutton {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

p {
  display: flex;
  justify-content: space-around;
}

.birthday {
  box-sizing: border-box;

}

#date {
  display: flex;
  justify-content: space-between;
}

#day {
  width: 20%;
}

#year {
  width: 25%;
}

#input_month {
  position: relative;
  inline-size: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;

}



select {
  border-color: rgba(128, 128, 128, 0.676);
  background-image: none;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  inline-size: 100%;
  box-sizing: border-box;
  margin-block: 0px;
  appearance: none;
  text-indent: 0.01px;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 14px 44px;
  outline: none;
  height: 45px;
}

.genderlabel {
  display: flex;
  position: relative;
  min-inline-size: 0px;
}

.radio_buttons {
  border: 1px solid #878787;
  border-radius: 50%;
  display: inline-block;
  width: 16px;
  /* Set the width and height to define the size of the custom radio button */
  height: 16px;
  background: #fff;
  /* Set the background color */
  cursor: pointer;
  /* Change cursor to pointer to indicate interactivity */
}

.radio_buttons:hover {
  border-color: #169b45;
}

.genderinput:checked+.genderlabel .radio_buttons {
  border-color: #1DB954;
  /* Border color for checked state */
  background-color: #1DB954;
  /* Background color for checked state */
}


fieldset {
  border: 0px;
  margin: 0px;
  padding-block-end: 22px;
}

#radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'circularbold', sans-serif;
}

.radio_inputs {
  display: flex;
  align-items: center;
  padding-block: 4px;
  position: relative;
  min-block-size: 32px;
}

.genderinput {
  /* border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px; */
  display: none;
}

button {
  border-radius: 25px;
  height: 45px;
  background-color: rgb(30, 215, 96);
  border: none;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  color: white;

}

button:hover {
  background-color: #74E167;
  transform: scale(1.03);
  cursor: pointer;
}

form>div>button {
  height: 45px;
  margin-block-start: 20px;
  width: 40%;
  color: black;

}

#login {
  color: rgb(30, 215, 96);
}

#home span#cloudifyLogo {
  font-size: 40px;
  background-color: white;
  color: black;
  font-family: 'circulartitle', sans-serif;
  text-decoration: none;


}

legend {
  font-family: 'circularbook', sans-serif;
}